.btn {
    width: fit-content;
    padding: var(--space-s);
    background-color: var(--dore);
    color: var(--fonce);
    border-radius: 1rem;
    box-shadow: 3px 3px 3px var(--fonce);
    cursor: pointer;
    margin-top: var(--space-m);
    margin-bottom: var(--space-mg);
    

    &:hover {
        background-color: var(--vert-fonce);
        color: var(--dore);
        transition: background-color 0.3s ease;
    }

    &:focus {
        background-color: var(--vert-fonce);
    }

    &.inactive {
        background-color: var(--vert-fonce);
        pointer-events: none;
        cursor: none;
    }


}









