th {
  background-color: var(--vert-fonce);
  color: var(--blanc);
  font-size: var(--space-m);
  text-align: left;
  padding: var(--space-s);
}
td {
  border: 1px solid var(--vert-fonce);
  padding: var(--space-s);
}
tr:nth-child(even) {
  background-color: var(--vert-fonce);
}
.container {
  width: 300px;
  margin: 0 auto;
  border: 1px solid var(--danger);
  padding: 30px;
  border-radius: var(--space-s);
}
label {
  display: block;
  margin-top: var(--space-s);
  font-weight: bold;
}
input,
select {
  width: 100%;
  padding: var(--space--xxs);
  margin-bottom: var(--space--xxs);
  border: 1px solid var(--danger) 58;
  border-radius: var(--space--xxs);
}
.btn {
  margin-top: var(--space-s);
  display: inline-block;
  padding: var(--space--xxs) var(--space-s);
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: var(--space--xxs) solid var(--danger);
  border: 0px;
  color: var(--blanc);
  border-radius: var(--space--xxs);
  background-color: var(--vert-fonce);
  transition: background-color 0.3s ease;
}
.btn.block {
  width: 100%;
  padding: var(--space--xxs) 0px;
}
.btn:hover {
  opacity: 75%;
}
.btn.red {
  outline: var(--space--xxs) solid #98082a;
  border: 0px;
  color: #db3450;
}
.btn.red:hover {
  background-color: #db3450;
  color: #fff;
}
.error {
  width: 100%;
  display: inline-block;
  padding: var(--space--xxs);
  background-color: rgb(251, 187, 187);
  border-radius: var(--space--xxs);
  border: red 1px solid;
  font-size: var(--space--xxs);
  color: red;
}
